.avatar {
    position: relative;
}

.avatar .uploader #uploader-form {
    display: none;
}

.avatar .uploader #uploader-image {
    width: 32px;
    height: 14px;
}

.avatar .uploader {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.avatar:hover .uploader {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.4);
}

.avatar .uploader a#avatar-uploader-button {
    display: inline-block;
    margin-top: 10%;
    font-weight: bold;
    cursor: pointer;
}
