body {
    background-color: #f3f3f5;
    margin: 0;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
}

header {
    background-color: #8290f7;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

header .header-menu {
    display: flex;
    position: relative;
}

header .header-menu, header .header-menu button {
    cursor: pointer;
}

header .header-menu button {
    color: #ffff;
    border: none;
    font-size: 16px;
    background: #8290f7;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}

header .header-menu button:focus {
    outline:0;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffff;
    margin-top: 22px;
}

header .header-menu .dropdown-items {
    display: none;
    position: absolute;
    top: 56px;
    background-color: #ffff;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

header .header-menu .dropdown-items a {
    display: block;
    padding: 10px;
    color: #8290f7;
    text-decoration: none;
}

header .header-menu .dropdown-items a:hover {
    background-color: #dddd;
}

header .header-menu .dropdown-items a:first-child {
    border-bottom: 1px solid #cccc;
}

header .header-avatar {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    overflow: hidden;
}

header .header-menu .header-avatar img, main .user-info-section .user-info-center .avatar img {
    width: 100%;
    height: 100%;
}

.show {
    display: block !important;
}

main .user-info-section {
    background-color: #bdbdbd;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 402px;
    box-shadow: inset 0 1px 40px #a9a5a5, inset 0 -1px 40px #a9a5a5;
    position: relative;
}

main .user-info-section .user-info-center {
    width: 260px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 130px);
    text-align: center;
}

main .user-info-section .user-info-center .avatar {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffff;
}
main .user-info-section .user-info-center .info span {
    display: block;
    color: #ffff;
    font-size: 16px;
}

main .user-info-section .user-info-center .info .name {
    font-size: 24px;
    font-weight: bold;
}

section.content {
    width: 80%;
    background: white;
    margin: 26px auto auto;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    box-shadow: -4px 0 5px #d4d4d4, 4px 0 5px #d4d4d4;
    min-height: 100vh;
}

footer {
    background-color: #8290f7;
    height: 38px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin-top: 16px;
}
